<table>
    @for (int i = 0; i < rowsNbr; i++)
    {
   <tr>

            @for (int j = 0; j < columnNbr; j++)
            {
                <td></td>
            }

   </tr>

    }

</table>

@code {
    [Parameter]
    public int columnNbr { get; set; }
    
    [Parameter]
    public int rowsNbr { get; set; }
}