    table tr {
        border: solid 1px black;
        height: 30px;

    }

    table tr:first-of-type {
        background-color: lightskyblue;
    }

    table td {
        border: solid 1px black;
        height: 30px;
        width:100px;
    }